In [1]:
import pandas as pd
pd.__version__

'1.1.3'

In [3]:
import sys
sys.path.insert(1, '../src')
import nikitas_work

In [4]:
contract,cust = nikitas_work.load_data()
contract.head()

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,127,8/17/2019,12,"$53,000.00","$11,600.00"
1,2,119,12/1/2019,22,"$77,000.00","$14,600.00"
2,3,160,5/1/2019,15,"$13,000.00","$22,800.00"
3,4,7,12/8/2019,23,"$56,000.00","$11,400.00"
4,5,144,2/11/2019,7,"$21,000.00","$19,800.00"

In [5]:
cust.head()

,id,company,sector,industry,email,address,city,state,zip
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805

In [6]:
df = nikitas_work.combine_data(contract, cust)
df.head()

,contract_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip
customer_id,,,,,,,,,,,,,
1,41,5/31/2019,24,"$86,000.00","$11,200.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,358,6/18/2019,13,"$74,000.00","$19,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,400,8/11/2019,19,"$38,000.00","$8,800.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,424,3/13/2019,15,"$77,000.00","$14,300.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,438,10/16/2019,22,"$39,000.00","$20,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170

In [7]:
Data = {'Deposit': ['86000','74000','38000','77000','39000'],
        'Month_Amount': ['11,200','19,000','8800','14300','20000']}
df = pd.DataFrame(Data)
df['Deposit'] = df['Deposit'].astype(int)
print(df)

   Deposit Month_Amount
0    86000       11,200
1    74000       19,000
2    38000         8800
3    77000        14300
4    39000        20000

In [8]:
df_contracts = pd.read_csv('../data/contracts.csv')
df

   Deposit Month_Amount
0    86000       11,200
1    74000       19,000
2    38000         8800
3    77000        14300
4    39000        20000

In [11]:
join_df = pd.merge(contract, cust, left_on='customer_id', right_on='id')
join_df

KeyError: 'id'

In [12]:
join_df['deposit'] = join_df['deposit'].str.replace('$', '')
join_df['deposit'] = join_df['deposit'].str.replace(',', '').astype(float)

join_df['monthly_amt'] = join_df['monthly_amt'].str.replace('$', '')
join_df['monthly_amt'] = join_df['monthly_amt'].str.replace(',', '').astype(float)

join_df

NameError: name 'join_df' is not defined

In [13]:
join_df['sale'] = pd.Series(join_df['deposit']+join_df['monthly_amt']*join_df['contract_term'])
join_df

NameError: name 'join_df' is not defined

In [14]:
join_df.groupby('state').agg({'sale': 'sum'})

NameError: name 'join_df' is not defined